#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-weight: 800;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 28%;
  background-color: #121212;
}

.add-content-bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
}

.card {
  display: flex;
  padding: 2em;
  align-items: flex-start;
  flex-direction: column;
  margin: 0rem 0.7rem;
  background-color: rgb(58, 58, 58);
}

.borderless-btn {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0.5em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid transparent;
}

.bordered-button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.current-album-cover {
  height: auto;
  max-width: 100px;
}

.media-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  background-color: #121212;
  color: white;
  align-items: center;
}

.current-album-info {
  display: flex;
  text-align: start;
}

.album-cover-art {
  width: 5rem;
  height: auto;
}

.more-media-commands > * {
  padding: 0.18rem;
}

.home-display {
  color: white;
  background-color: #121212;
}

.music-row {
  width: 100%;
}

.column-divider {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.category-label {
  text-align: start;
  font-weight: 800;
  font-size: 1.5rem;
}

.placeholder-square {
  width: 150px;
  height: 150px;
  background-color: rgb(169, 161, 161);
}









/* .navbar {
  position: relative;
  z-index: 1000;
} */

/* .navbar-collapse {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  z-index: 1050; 
} */

/* .navbar-nav {
  z-index: 1250; 
} */